#header {
   background: $light;
   min-height: 100vh;
   background: url("./../images/bgWhite.png") no-repeat center center / cover;

   .navigation {
      @include flex();
      min-height: 70px;
   }

   .logo {
      .logo-link {
         font-size: 1.5rem;
         font-weight: 600;
         color: $green;
         text-transform: uppercase;
      }
   }

   .nav-list {
      @include flex();
      gap: 3em;

      li {
         text-transform: uppercase;
      }

      a {
         color: $dark;
         transition: all 0.3s ease-in-out;

         &:hover {
            color: $green;
         }
      }
   }

   .toggler {
      display: none;
      cursor: pointer;

      span {
         display: block;
         height: 3px;
         width: 25px;
         border-radius: 5px;
         background-color: $dark;
         margin: 2px 0;
         transition: all 0.3s ease-in-out;
      }
   }

   // header content
   .content {
      @include grid($ai: center);
      min-height: calc(100vh - 70px);
      gap: 0;
   }

   .img-box {
      height: clamp(250px, 80vw, 400px);
      width: clamp(250px, 80vw, 400px);
      border-radius: 100%;
      overflow: hidden;
      justify-self: end;
      transform: scale(0.5);
      animation: anim 1s ease-in-out forwards;
   }

   .content-text {
      order: -1;

      .title {
         line-height: 1.2;
         text-transform: initial;
         transform: translate(-15px, 20px);
         opacity: 0;
         animation: animText 1.2s ease-in-out forwards;
      }

      .sub-title {
         transform: translate(-15px, 20px);
         opacity: 0;
         animation: animText 1s ease-in-out forwards 0.5s;
      }

      .btn {
         transform: translate(-15px, 20px);
         opacity: 0;
         animation: animText 1s ease-in-out forwards 0.8s;
      }

      .secondary-btn {
         transform: translate(-15px, 20px);
         opacity: 0;
         animation: animText 1s ease-in-out forwards 1.3s;
      }
   }
}

@keyframes anim {
   0% {
      opacity: 0;
      transform: scale(0.8);
   }
   50% {
      opacity: 0.5;
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes animText {
   0% {
      opacity: 0;
   }
   50% {
      // opacity: 0.5;
   }
   100% {
      opacity: 1;
      transform: translate(0);
   }
}

// media
@media (max-width: 850px) {
   // header content
   #header {
      .content {
         display: grid;
         grid-template-columns: 1fr;
         gap: 0;
      }

      .img-box {
         justify-self: center;
      }

      .content-text {
         order: 1;
      }
   }
}

@media (max-width: 768px) {
   .nav {
      @include flex(column, center, start);
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1000;
      background-color: $light;
      min-height: 100vh;
      width: 70vw;
      padding-left: 2em;
      box-shadow: -0.5em 0 1em -0.9em rgba(0, 0, 0, 0.2);
      transform: translateX(110%);
      transition: all 0.5s ease-in-out;

      &.active {
         transform: translateX(0);
      }
   }

   .nav-list {
      flex-direction: column !important;
      align-items: start !important;
      gap: 0 !important;
      width: 100%;

      li {
         width: 100%;
         display: grid;
      }

      a {
         width: 100%;
         padding: 1em 0;
      }
   }

   .toggler {
      display: grid !important;
      z-index: 10000;
      span {
         transform-origin: 1.39rem;
      }

      &.active {
         span:nth-of-type(1) {
            transform: rotate(-45deg);
         }
         span:nth-of-type(2) {
            opacity: 0;
         }
         span:nth-of-type(3) {
            transform: rotate(45deg);
         }
      }
   }

   // header content
   #header {
      .content {
         @include grid();
      }

      .img-box {
         justify-self: center;
      }

      .content-text {
         order: 1;
      }
   }
}
