@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #18181b;
  background-color: #f9fafb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1em;
  color: #56565d;
}

ol,
ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section {
  padding-block: 4em;
}

.btn {
  display: inline-block;
  background-color: #0fd74e;
  color: #18181b;
  margin-top: 2em;
  margin-right: 1em;
  padding: 0.3em 1.5em;
  border-radius: 0.3em;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #1fef61;
}

.btn:active {
  background-color: #0cb040;
}

.btn.secondary-btn {
  background-color: transparent;
  padding: calc(0.3em - 2px) 1.5em;
  border: 2px solid #0fd74e;
}

.btn.secondary-btn:hover {
  background-color: #1fef61;
  border-color: transparent;
}

.btn.secondary-btn:active {
  background-color: #0cb040;
}

.title {
  font-size: clamp(2.375rem, 3.375vw, 3.5rem);
  text-transform: capitalize;
}

.sub-title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2px;
}

.section-title {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  text-transform: capitalize;
  margin-bottom: 2em;
  position: relative;
}

.section-title span {
  display: block;
}

.section-title::after {
  content: "";
  height: 3px;
  width: 10%;
  background-color: #0fd74e;
  position: absolute;
  left: 0;
  bottom: -0.5em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.card {
  -webkit-box-shadow: 5px 5px 10px -9px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px -9px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.3em;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.card .text {
  padding: 2em;
}

.card .text h2 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.card:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

#header {
  background: #f9fafb;
  min-height: 100vh;
  background: url("./../images/bgWhite.png") no-repeat center center/cover;
}

#header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

#header .logo .logo-link {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0fd74e;
  text-transform: uppercase;
}

#header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

#header .nav-list li {
  text-transform: uppercase;
}

#header .nav-list a {
  color: #313135;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header .nav-list a:hover {
  color: #0fd74e;
}

#header .toggler {
  display: none;
  cursor: pointer;
}

#header .toggler span {
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 5px;
  background-color: #313135;
  margin: 2px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header .content {
  display: -ms-grid;
  display: grid;
  gap: 3em;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 70px);
}

#header .img-box {
  height: clamp(250px, 80vw, 400px);
  width: clamp(250px, 80vw, 400px);
  border-radius: 100%;
  overflow: hidden;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-animation: anim 1s ease-in-out forwards;
          animation: anim 1s ease-in-out forwards;
}

#header .content-text {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

#header .content-text .title {
  line-height: 1.2;
  text-transform: initial;
  -webkit-transform: translate(-15px, 20px);
          transform: translate(-15px, 20px);
  opacity: 0;
  -webkit-animation: animText 1.2s ease-in-out forwards;
          animation: animText 1.2s ease-in-out forwards;
}

#header .content-text .sub-title {
  -webkit-transform: translate(-15px, 20px);
          transform: translate(-15px, 20px);
  opacity: 0;
  -webkit-animation: animText 1s ease-in-out forwards 0.5s;
          animation: animText 1s ease-in-out forwards 0.5s;
}

#header .content-text .btn {
  -webkit-transform: translate(-15px, 20px);
          transform: translate(-15px, 20px);
  opacity: 0;
  -webkit-animation: animText 1s ease-in-out forwards 0.8s;
          animation: animText 1s ease-in-out forwards 0.8s;
}

#header .content-text .secondary-btn {
  -webkit-transform: translate(-15px, 20px);
          transform: translate(-15px, 20px);
  opacity: 0;
  -webkit-animation: animText 1s ease-in-out forwards 1s;
          animation: animText 1s ease-in-out forwards 1s;
}

@-webkit-keyframes anim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animText {
  0% {
    opacity: 0;
  }
  50% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes animText {
  0% {
    opacity: 0;
  }
  50% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 850px) {
  #header .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0;
  }
  #header .img-box {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #header .content-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f9fafb;
    min-height: 100vh;
    width: 70vw;
    padding-left: 2em;
    -webkit-box-shadow: -0.5em 0 1em -0.9em rgba(0, 0, 0, 0.2);
            box-shadow: -0.5em 0 1em -0.9em rgba(0, 0, 0, 0.2);
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
    gap: 0 !important;
    width: 100%;
  }
  .nav-list li {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
  .nav-list a {
    width: 100%;
    padding: 1em 0;
  }
  .toggler {
    display: -ms-grid !important;
    display: grid !important;
    z-index: 1000;
  }
  .toggler span {
    -webkit-transform-origin: 1.39rem;
            transform-origin: 1.39rem;
  }
  .toggler.active span:nth-of-type(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .toggler.active span:nth-of-type(2) {
    opacity: 0;
  }
  .toggler.active span:nth-of-type(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #header .content {
    display: -ms-grid;
    display: grid;
    gap: 3em;
    -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .img-box {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #header .content-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.card-content {
  display: -ms-grid;
  display: grid;
  gap: 3em;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 2em;
}

#work .section-title {
  margin-bottom: 1em;
}

#work .filter-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3em;
}

#work .filter-btns .btn {
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: white;
  cursor: pointer;
  text-transform: uppercase;
}

#work .filter-btns .btn:hover, #work .filter-btns .btn:active {
  background-color: #0fd74e;
}

#work .filter-btns .btn.active {
  background-color: #0fd74e;
}

#work .img-box {
  position: relative;
}

#work .img-box:hover .card-links {
  opacity: 1;
  pointer-events: all;
}

#work .card-links {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 50% auto auto 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#work .card-links span {
  display: inline-block;
  font-size: 1.55em;
  cursor: pointer;
  color: #f9fafb;
}

.footer {
  padding: 2em 3em;
  border-top: 1px solid #56565d;
  background-color: #313135;
}

.footer p {
  color: #7a7a85;
  margin: 0;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */